@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-weight: 500px;
    font-family: 'PT Sans', sans-serif;
}

.layar-pannel{
    background-color: white;
    border-radius: 10px;
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
}

.bkl{
    background-color: white;
    border-radius: 10px;
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
}

